@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
    outline: none;
}
body{
    text-align: center;
    margin:0 auto;
}
#header{
    width: 100%;
    height: 400px;
    z-index: 1;
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/sentence_background.png');
    padding-top: 230px;
    padding-left: 460px;    
}
#header p{
    display: flex;
    font-size: 60px;
    text-align: left;
    font-weight: bold;
    color: white;
}
#nav_bar{
    width: 380px;
    height: 100px;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 50px;
    margin-top: 100px;
    border-radius: 80px;
    background-color: white;
    line-height: 125px;
    box-shadow: 0px 3px 8px 2px rgba(51, 32, 32, 0.5);
}
#nav_bar img{
    margin: 0 25px ;
    
}
#content{
    width: 100%;
    padding-left: 460px;
    text-align: left;
    padding-top:160px;
    margin-bottom: 300px;
    color: rgba(0, 0, 0, 0.8);
}
#content div{
    margin-bottom: 120px;
}
h1{
    margin-bottom: 20px;
    font-size: 48px;
}
#content p{
    font-size: 21px;
    line-height: 40px;
}
#menu{
    background-color: black;
    width: 500px;
    height: 100%;
    color: white;
    position:fixed;
    top: 0;
    right:0;
    z-index: 2;
    padding-top: 100px;
    display: none;
}
li{
    height: 100px;
    font-size: 25px;
}
#logo{
    margin-bottom: 40px;
}
li a{
    color: white;
}
li a:hover{
    color:#F35C5C;
    font-size: 35px;
    font-weight: bold;
}