
#logo{
    margin-top:150px;
    margin-bottom: 10px;
    display:inline-block;
    margin-bottom: 70px;
}
td{
    padding-right: 50px;
    padding-left: 40px;
    padding-bottom: 40px;
}
table{
    margin: 0 auto;
    text-align: left;
    font-size: 21px;
    margin-bottom: 80px;
}

button{
    margin: 50px 0;
    width: 380px;
    height: 60px;
    border-radius: 40px;
    border:0px;
    background-color: #f35c5c;
    color: white;
    font-size: 17px;
    font-weight: bold;
}
.category{
    font-weight: bold;
}
#logout{
    color: rgba(0,0,0, 0.6);
    font-size: 17px;
    text-decoration: underline;
}
#nav_bar{
    width: 380px;
    height: 100px;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 50px;
    margin-top: 100px;
    border-radius: 80px;
    line-height: 125px;
    box-shadow: 0px 3px 8px 2px rgba(163, 163, 163, 0.5);
}
#nav_bar img{
    margin: 0 25px ;
    
}